/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row-horizontal {
  display: flex;
}

.structure-guide {
  max-width: 100%;
  background-color: #f1f1f1;
}
.structure-guide .guide {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  max-width: 1240px;
  margin: 20px auto 0 auto;
  margin: 0 auto;
  padding: 5px 20px 10px 20px;
}
.structure-guide .guide .structure-acessibility-contrast {
  display: flex;
  justify-content: space-between;
  width: 420px;
  padding: 5px 0 0 0;
}
.structure-guide .guide .structure-acessibility-contrast .acessibility {
  display: flex;
  justify-content: space-between;
  width: 195px;
}
.structure-guide .guide .structure-acessibility-contrast .acessibility .text p {
  font-weight: 600;
  color: rgba(28, 28, 28, 0.5215686275);
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.structure-guide .guide .structure-acessibility-contrast .acessibility .font-size {
  width: 58px;
  justify-content: space-between;
}
.structure-guide .guide .structure-acessibility-contrast .acessibility .font-size .vertical-line {
  width: 1px;
  height: 20px;
  background-color: rgba(28, 28, 28, 0.2470588235);
}
.structure-guide .guide .structure-acessibility-contrast .acessibility .font-size .up,
.structure-guide .guide .structure-acessibility-contrast .acessibility .font-size .down {
  font-weight: 600;
  color: rgba(28, 28, 28, 0.5215686275);
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  line-height: 24px;
}
@media screen and (max-width: 500px) {
  .structure-guide .guide .structure-acessibility-contrast .acessibility {
    margin: 10px auto;
    width: 250px;
  }
}
.structure-guide .guide .structure-acessibility-contrast .contrast {
  display: flex;
  justify-content: space-between;
  width: 195px;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors div {
  background-color: #33beff;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors div + div + div {
  background-color: #000000;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors div + div + div + div {
  background-color: #2f629b;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors div + div {
  background-color: white;
  border: 1px rgba(28, 28, 28, 0.1882352941) solid;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .text p {
  font-weight: 600;
  color: rgba(28, 28, 28, 0.5215686275);
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 24px;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors {
  width: 110px;
  padding: 5px 0 0 0;
  justify-content: space-around;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors div {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  cursor: pointer;
}
.structure-guide .guide .structure-acessibility-contrast .contrast .step-colors div:hover {
  width: 14px;
  height: 14px;
}
@media screen and (max-width: 500px) {
  .structure-guide .guide .structure-acessibility-contrast .contrast {
    margin: 10px auto;
    width: 250px;
  }
}
@media screen and (max-width: 705px) {
  .structure-guide .guide .structure-acessibility-contrast {
    margin: 0 auto;
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .structure-guide .guide .structure-acessibility-contrast {
    margin: 10px auto;
    width: 350px;
    display: block;
  }
}
.structure-guide .guide .nav {
  display: flex;
  justify-content: space-between;
  width: 242px;
  padding: 5px 0 0 0;
}
.structure-guide .guide .nav .links {
  width: 180px;
  display: flex;
  padding: 2px 0 0 0;
  justify-content: space-around;
}
.structure-guide .guide .nav .text p {
  font-weight: 600;
  color: rgba(28, 28, 28, 0.5215686275);
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.structure-guide .guide .nav .links a {
  font-weight: 600;
  color: rgba(28, 28, 28, 0.5215686275);
  font-family: "Open Sans";
  font-size: 12px;
}
@media screen and (max-width: 705px) {
  .structure-guide .guide .nav {
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .structure-guide .guide .nav {
    display: block;
    margin: 20px auto 0 auto;
    width: 250px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .structure-guide .guide .nav .links {
    margin: 10px auto;
  }
}
@media screen and (max-width: 705px) {
  .structure-guide .guide {
    display: block;
    padding: 20px 0;
  }
}
@media screen and (max-width: 500px) {
  .structure-guide .guide {
    max-width: 100%;
    display: block;
  }
}

.structure-header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  max-width: 1240px;
  margin: 20px auto 0 auto;
}
.structure-header .container-logo-menu {
  width: 710px;
  display: flex;
  justify-content: space-between;
}
.structure-header .container-logo-menu .structure-logo {
  float: left;
  margin: auto 0;
  grid-area: structureLogo;
}
.structure-header .container-logo-menu .structure-logo img {
  width: 131px;
}
@media screen and (max-width: 705px) {
  .structure-header .container-logo-menu .structure-logo {
    margin: 30px auto;
  }
  .structure-header .container-logo-menu .structure-logo img {
    width: 270px;
  }
}
.structure-header .container-logo-menu .structure-menu {
  width: max-content;
  grid-area: structureMenu;
}
.structure-header .container-logo-menu .structure-menu .menu-itens {
  display: flex;
  max-width: max-content;
  justify-content: center;
}
.structure-header .container-logo-menu .structure-menu .menu-itens li {
  display: flex;
  margin: 0 15px 0 0;
}
.structure-header .container-logo-menu .structure-menu .menu-itens li a {
  font-size: 16px;
  margin: 0 0 0 0;
  color: #1c1c1c;
  font-weight: 600;
  padding: 10px 4px;
  letter-spacing: 0px;
  text-decoration: none;
  font-family: "Open Sans";
  cursor: default;
}
.structure-header .container-logo-menu .structure-menu .menu-itens li div {
  margin: 10px 0 0 0px;
}
.structure-header .container-logo-menu .structure-menu .menu-itens li div img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .structure-header .container-logo-menu .structure-menu .menu-itens {
    max-width: 400px;
    justify-content: space-around;
  }
  .structure-header .container-logo-menu .structure-menu .menu-itens div {
    display: block;
  }
}
@media screen and (max-width: 705px) {
  .structure-header .container-logo-menu .structure-menu .menu-itens {
    display: block;
  }
}
@media screen and (max-width: 1020px) {
  .structure-header .container-logo-menu .structure-menu .menu-itens li {
    width: 95px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 705px) {
  .structure-header .container-logo-menu .structure-menu .menu-itens li {
    width: 300px;
  }
}
@media screen and (max-width: 1020px) {
  .structure-header .container-logo-menu .structure-menu {
    width: 360px;
  }
}
@media screen and (max-width: 705px) {
  .structure-header .container-logo-menu .structure-menu {
    width: max-content;
  }
}
@media screen and (max-width: 705px) {
  .structure-header .container-logo-menu {
    display: grid;
    max-width: 100%;
    justify-content: center;
    grid-template-areas: "structureMenu structureMenu structureMenu" "structureLogo structureLogo structureLogo";
  }
}
.structure-header .structure-login {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.structure-header .structure-login button {
  padding: 9px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  font-family: "Open Sans";
  cursor: pointer;
}
.structure-header .structure-login button a {
  width: max-content;
  text-decoration: none;
  color: #0046c0;
}
.structure-header .structure-login .btn-cliente button {
  border: none;
  background-color: #0046c0;
}
.structure-header .structure-login .btn-cliente button a {
  color: white;
}
.structure-header .structure-login .btn-loja-porto button {
  background-color: white;
  border: #0046c0 1px solid;
}
@media screen and (max-width: 1020px) {
  .structure-header .structure-login {
    display: block;
    text-align: center;
  }
  .structure-header .structure-login button {
    margin: 10px auto;
  }
}
@media screen and (max-width: 705px) {
  .structure-header .structure-login {
    width: 100%;
    text-align: center;
  }
  .structure-header .structure-login button {
    padding: 25px;
    font-size: 20px;
  }
  .structure-header .structure-login .btn-cliente button {
    margin: 10px auto 40px auto;
  }
}
@media screen and (max-width: 705px) {
  .structure-header {
    display: block;
    padding: 0 0 45px 0;
  }
}

/*# sourceMappingURL=index.css.map */
